<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>106152035952-j2b6gbqqca9otijkg3uij41nsoe70re2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106152035952-j2b6gbqqca9otijkg3uij41nsoe70re2</string>
	<key>API_KEY</key>
	<string>AIzaSyA4nN9TuFDU5zgHMKax_8S_5__OBT7iNSI</string>
	<key>GCM_SENDER_ID</key>
	<string>106152035952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arunthamizh.FirebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-9c706</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-9c706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106152035952:ios:2a5ad54223a5626b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-9c706.firebaseio.com</string>
</dict>
</plist>